.Rproj.user
.Rhistory
.RData
.Ruserdata
*.shp
*.dbf
*.prj
*.shx
*.tmp
/list_clus_data.xlsx
.pdf
*.html
*.xlsx
/scrap.R
/tass/
/Get OpenSSH.docx
/HOW_TO_oracle_connect
/ex_clust.R
mercurial.ini
/SELES
/R/temp/
/R/apps/alpha
/R/credential_clusdb.R
.Rprofile
.sqlite

