.Rproj.user
.Rhistory
.RData
.Ruserdata
*.shp
*.tif
*.dbf
*.prj
*.shx
*.tmp
*.ppk
*.ini
*.cpg
*.qpj
/list_clus_data.xlsx
.pdf
*.xlsx
*.yml
scrap.R
/global.R
/tass/
/Get OpenSSH.docx
/HOW_TO_oracle_connect
/ex_clust.R
mercurial.ini
/SELES
/R/temp/
/R/apps/alpha
/R/credential_clusdb.R
.Rprofile
*.sqlite

